<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agenda</title>
</head>
<body>
    <h1>Faça o seu Login</h1>
        <form action="submit" method="POST">{% csrf_token %} <!--sempre que tiver um form com POST precisa certificar -->
            <div align="center">
                <label>Usuário</label>
                <input type="username" name="username">
                <label>Password</label>
                <input type="password" name="password">
                <button type="submit">Entrar</button>
            </div>
        </form>

        {% for message in messages %}
            <div align="center">
                <br />
               <strong></strong>{{ message }}
            </div>
        {% endfor %}
</body>
</html>